<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DogRaceApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <DogRaceApp.My.MySettings>
            <setting name="BlankString" serializeAs="String">
                <value>----</value>
            </setting>
            <setting name="RatingQ1" serializeAs="String">
                <value>How confident are you that your dog will win?</value>
            </setting>
            <setting name="Anchor1" serializeAs="String">
                <value>Not at all confident</value>
            </setting>
            <setting name="Anchor2" serializeAs="String">
                <value>Very confident</value>
            </setting>
            <setting name="RatingQ2" serializeAs="String">
                <value>How pleased were you with the performance of your dog?</value>
            </setting>
            <setting name="Anchor3" serializeAs="String">
                <value>Not at all pleased</value>
            </setting>
            <setting name="Anchor4" serializeAs="String">
                <value>Very pleased</value>
            </setting>
            <setting name="Rating1Colour" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="Rating2Colour" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="raceAnnounceDelay" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="preracerating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="postracerating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawDelay" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="postracerating2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RatingQ3" serializeAs="String">
                <value>How much do you wish to continue playing?</value>
            </setting>
            <setting name="Anchor5" serializeAs="String">
                <value>Not at all</value>
            </setting>
            <setting name="Anchor6" serializeAs="String">
                <value>Very much</value>
            </setting>
        </DogRaceApp.My.MySettings>
    </applicationSettings>
</configuration>
